<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- <param name="robot_description" textfile="$(find tyler_pkg)/urdf/ranch_droid_robot.urdf" /> -->
    
    <arg name="model" default="$(find my_robot)/urdf/my_robot.urdf"/>

    <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
    <param name="use_sim_time" value="false" />

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    
    <node name="serial_node" pkg="rosserial_python" type="serial_node.py" args="/dev/ttyUSB0"/>
    <node name="get_velocity" pkg="my_robot" type="get_velocity.py" output="screen"/>
    <node name="range_node" pkg="my_robot" type="range_node.py" output="screen"/>
    <!-- <node name="get_velocity" pkg="my_robot" type="get_velocity.py" /> -->
    <include file="$(find ydlidar_ros_driver)/launch/X2.launch"/>

</launch>
